# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# OS
.DS_Store

# Logs
*.logStep1-VersionControl.rtf
*.logStep2-Application.rtf
*.logStep3-Dockerize.rtf
*.logStep4-Pipeline.rtf